body{
    background-color: #FEF8DD;
    /* background-image: url(https://images.squarespace-cdn.com/content/v1/5372e4d2e4b0fca9449770f9/1552517869747-EY43TWZXY20K2V8U0SZM/ke17ZwdGBToddI8pDm48kOq3XtvT-rTx5PTvQrwH2CZZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyBi6H8XuGgiOTkZYjvHnSOANLZGVcHi3tbrkKAT-GPtysHBglV01zzuz87anpmrvo/blue-snow-texture-pattern_diana-toledano.png?format=750w); */
}

.container{
    width: 95%;
    margin: 0 auto;
}

header{
    background-color: 	#001f24;
    padding:5px 25px;
    margin-bottom: 20px;
    border-radius: 30px;
    text-align: center;
}

nav{
    overflow: hidden;
    padding:8px;
    background-color: #3D3D3D;
    border-radius: 10px;
}

nav ul{
    list-style-type: none;
    padding-left:20px;
    margin:0px;
}

nav ul li{
    display: block;
    background-color: #3D3D3D;
}

nav ul li a{
    background-color: #3D3D3D;
    color: white;
    text-decoration: none;
    padding:0 5px;	
    font-weight:bold;
    font-size:25px;
    font-family: monospace;
}

nav ul li a:hover{
    color: rgb(33, 176, 233);
}

nav ul li a:active{
    color: green;
}

#ad{
    width: auto;
    float: left;
    position: fixed;
    top: 45%;
    height: 100%; 
}

.mainDiv{
    width:85%;
    float:left;
    padding-bottom:10px;
    padding-left: 12%;
}

.info{
    background-color: #CEA663;
    border-radius: 10px;
    padding: 10px;
}

footer{
    clear:both;
    color: greenyellow;
    background-color: #001f24;
    padding:5px 25px;
    margin-bottom: 20px;
    border-radius: 30px;
    text-align: center;	
}

tr, th, td{
    border: black solid 2px;
    border-radius: 5px;
    /* font-size: 18px; */
    font-family:sans-serif;
}

td{
    text-align: center;
}

#img{
    padding: 2px;
    width: 200px;
}

#logo{
    height: auto; 
    width: 125px;
}